body{
    background-color: #ffffff;
    
}

#card-results{
background-color: #ffffff;
width: 23%;
margin: auto;
top: -100px;
}

.container{
    margin: auto;
     height: auto;
}

footer{
    position: fixed;
    margin: 10px;
    bottom: 0px;
    z-index: -1;
}

header{
    background-color: #145380d5;
    color: #fff;
}

.hidden{
    display:none;
}

#id-card{
     width: 20rem;
     margin: auto;     
}

#icon-area{
    position: relative;
    margin: auto;
    width: 5rem;
    height: 5rem;
    border-radius: 70px;
    color: #fff;
    background-color: aliceblue;
    top: -30px;

}

#icon-weather{    
    position: relative;
    margin: auto;
     left: -10px;
     top: -10px;
       
}
 
#select:hover{
 color: rgb(124, 95, 95)
}

.title{
    margin: auto;
    padding: 1rem;
    text-align: center;
    
}
 